.style_SkipStroke_1 {
    background: transparent;
    opacity: 1.00;
}
.style_External_630_66 {
    bottom: 0px;
    position: absolute;
    width: 630px;
}
.paragraph_style {
    color: #800000;
    font-family: 'ArialMT', 'Arial', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 25px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: right;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_1 {
    color: #800000;
    font-family: 'ArialMT', 'Arial', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 25px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: center;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style {
    padding: 4px;
}
.style_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.Normal_External_630_66 {
    position: relative;
}
.Normal {
    padding: 4px;
}
.Title {
    color: #ffffff;
    font-family: 'ArialMT', 'Arial', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 25px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.graphic_generic_body_textbox_style_default_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.graphic_generic_title_textbox_style_default_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.graphic_shape_layout_style_default_External_630_460 {
    position: relative;
}
.graphic_shape_layout_style_default {
    padding: 4px;
}
a {
    color: #ffffff;
    text-decoration: underline;
}
a:visited {
    color: #ffffff;
    text-decoration: underline;
}
a.class1 {
    color: #800000;
}
a.class1:visited {
    color: #800000;
}
a.class1:hover {
    color: #800000;
}
a.class2 {
    color: #800000;
}
a.class2:visited {
    color: #800000;
}
a.class2:hover {
    color: #800000;
}
a:hover {
    color: #d4d4d4;
    text-decoration: underline;
}
.bumper {
    font-size: 1px;
    line-height: 1px;
}
.spacer {
    font-size: 1px;
    line-height: 1px;
}
.tinyText {
    font-size: 1px;
    line-height: 1px;
}
body { 
    -webkit-text-size-adjust: none;
}
div { 
    overflow: visible; 
}
img { 
    border: none; 
}
.InlineBlock { 
    display: inline; 
}
.InlineBlock { 
    display: inline-block; 
}
.inline-block {
    display: inline-block;
    vertical-align: baseline;
    margin-bottom:0.3em;
}
.vertical-align-middle-middlebox {
    display: table;
}
.vertical-align-middle-innerbox {
    display: table-cell;
    vertical-align: middle;
}
div.paragraph {
    position: relative;
}
li.full-width {
    width: 100;
}
