/* css box art studio thing or whatever i don't know shut up jenn */

body, #save-container { background: url('../images/bg-wood.png'); font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; color: #333; font-size: 13px; text-shadow: 0 -1px 1px rgba(255, 255, 255, 0.05); }
body {  position: relative; }

a {color: #c44d4d; font-weight: bold; text-decoration:none;}

h1 { font-family: monospace; text-align: center; font-size: 70px; margin: 20px auto 10px; }
h1 a { color: #333; text-decoration: none;}

.money-power-respect-youll-be-eatin-right { color: #b38d54; font-weight:normal; font-size: .6em; }

h2 { font-family: monospace; font-size: 15px; font-weight: normal; }
h3 { font-size: 20px; font-weight: normal; text-transform: uppercase; padding: 0; margin: 0 auto; font-family: monospace; }
h3.top { margin-top: 10px;}

#container { width: 1000px; margin: 0 auto; position: relative;}
#save-container { }

#facebook { position: absolute; top:0; right: 0;}

.info {width: 140px; margin: 20px 30px 0 15px;}

#panel { width: 160px;  margin: 40px 0 0;  position: fixed;}
#tools { background: rgba(179,141,84,.4); color: #000; padding: 10px; }
#panel div { margin: 0 auto 10px; }

	#color-entry { text-transform: uppercase; font-weight: bold; width: 85px; float: left; height: 18px; background: #efefef; border: 2px solid #ddd; margin-top: 5px; }
		
	.button { display: block; float: left; background: #efefef; border: 2px solid rgba(255,255,255,.5); margin: 5px 10px 5px 0; padding: 3px 6px; color: #333; cursor: pointer; width: 40px; text-align: center; font-weight: normal; }
	.button.save { float:none; width: 75px; }
	.button:hover { background: #ddd; }
	.button.color { background: #fff; border: 5px solid none; width: 20px; height: 20px; padding: 0; margin: 4px; }
	
	.button.color.red { background: red; }
	.button.color.orange { background: orange; }
	.button.color.yellow { background: yellow; }
	.button.color.green { background: green; }
	.button.color.blue { background: blue; }
	.button.color.purple { background: purple; }
	.button.color.black { background: black; }
	.button.color.white { background: white; }	
	.button.color.custom { margin: 5px 0 0 8px; border-color: #ddd; }
	
	.button.color.current, .button.current, .button.custom.current{ border: 5px solid #333; margin: 1px;}
	.button.brush.current { margin: 1px 8px 1px 0;}
	.button.custom.current { margin: 5px 0 0 8px; border: 2px solid #333;}

#save-container h3 { font-size: 2.5em; font-weight: bold;}
#save-container p { line-height: 1.7em; font-size: .9em;}
#save-container a { }
#save-container a.geo-link { color: #339999; font-family: monospace; font-size: 1.1em; text-transform: uppercase; }

#loadingContent { padding: 10px 0; text-align: center; font-family: monospace; font-size: 1em!important; }
#saveYourArt { float: left; width: 60%; margin: 0 30px 0 0; }

#canvas-wall { width: 798px; margin: 10px auto; float: right; }

#frame { width: 798px; height: 538px; margin: 10px auto; position: relative;}
#frame a { color: #ecc; }
#frame p { text-align: center; font-weight: bold; font-family: monospace; color: #ecc; font-size: 1.1em;}

/* gallery page */
#gallery-page ul { list-style: none; text-align: center; }
#gallery-page ul li { display: inline-block; }
#gallery-page ul li img { width: 200px; }

.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }